DJANGO_SECRET_KEY=django-insecure-docker-local
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,ps.servidorfs.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://ps.servidorfs.com
DJANGO_TIME_ZONE=UTC
CORS_ALLOW_ALL_ORIGINS=true
PUBLIC_SHARE_BASE_URL=https://ps.servidorfs.com

FRONTEND_BIND_IP=192.168.3.100
FRONTEND_BIND_PORT=18173
NPM_UPSTREAM_HOST=ps-frontend
STACK_SUBNET=172.16.120.0/24

POSTGRES_DB=personal_shopper
POSTGRES_USER=personal_shopper
POSTGRES_PASSWORD=personal_shopper
